*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    position: relative;
    cursor: -webkit-grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content{
    margin: auto;
    width: 1400px;
    height: 1400px;
    background-color: #100020;
    position: relative;
    background-image: url('https://res.cloudinary.com/yerevan/image/upload/v1484080037/space_xref1i.jpg');
}




